<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Emotion Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='C:\Benish\static\css\style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload an Audio File</h1>
        <form>
            <input type="file" name="file" accept=".wav">
            <input type="submit" value="Upload">
        </form>
        <div id="result"></div>
    </div>
    <script src="{{ url_for('static', filename='C:\Benish\static\js\script.js') }}"></script>
</body>
</html>